



.form-select{
    background-color: rgb(209, 209, 209);
}

option{
    background-color: rgb(31, 35, 73);
    color: white;
}

.calender-input{

    background-color: rgb(209, 209, 209);
    height: 40px;
    border: none;
    padding: 0 3rem;
}


